<!-- </div> -->
<!-- <div class="container-fluid mt-2 ">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="'activeusers'"
          routerLinkActive="active"
          >Active Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'requests'"
          routerLinkActive="active"
          >User Requests</a
        >
      </li>
    </ul>
  </div>
  <div class="container mt-3 right">
    <router-outlet></router-outlet>
  </div>
   -->

   <nav class="navbar navbar-expand-lg  usersnav">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'activeusers'" routerLinkActive="active"
              >Active Users</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'requests'" routerLinkActive="active"
              >Users Requests</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
        <router-outlet></router-outlet>
    </div>
    