.usersnav{
    box-shadow: 0px 10px 10px -15px #111; 
    border-bottom-right-radius: 15px;  
    border-bottom-left-radius: 15px;  
    background-color: #E0F4FF  ;

}
.usersnav a{
    font-size: 13px;
    margin-left: 15px;
    /* border-right: #46E613 1px solid; */
}
.active{
    border-bottom:#46E613 solid 2px;
   
}